.productTextContainer {
  margin-top: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* text-align: justify; */
  justify-items: center;
  align-items: center;
}

.productText {
  font-size: 1.7rem;
}

.productText {
  margin-bottom: 1rem;
}

.addtocart {
  padding: 1rem 2rem;
  font-size: 1.7rem;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.5);

  width: 100%;
}

/* .addedtocart {
  background-color: #0000ff;
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1.7rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.5);

  width: 100%;
} */
