.header {
  height: 8rem;
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  border-bottom: 1.5px solid #000;
  transition: 0.3s ease-in all;
}

.header nav {
  height: 100%;
}

.headerNavList {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 7rem;
}

.headerNavListItem {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}

.headerNavListItem:not(:first-child) {
  font-weight: 700;
}

.headerNavListItem:not(:last-child) {
  margin-right: 3rem;
  display: inline-block;
}

.headerNavListItem:last-child {
  margin-left: auto;
}

.headerNavListLink span {
  display: inline-block;
  margin-left: 0.5rem;
}

.headerNavListLink {
  border-bottom: 1px solid transparent;
  transition: 0.2s ease-in all;
  padding-bottom: 0.5rem;
}

.headerNavListLink:hover {
  color: #333;
  border-bottom: 1px solid #333;
}
