.auth {
  width: 60rem;
  margin: 15rem auto;

  &__form {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.5);

    &--header {
      margin-bottom: 2rem;
      font-size: 2.5rem;
    }

    &--redirect {
      font-size: 1.5rem;

      & button {
        font-size: 1.5rem;
        font-weight: 700;
        color: $color-blue-light;

        outline: none;
        border: none;
        cursor: pointer;
        display: inline-block;
        text-decoration: underline;
        background-color: transparent;
      }
    }
  }
}

.auth-button {
  width: 30%;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  background-color: $color-white;
  border: 0.2rem solid $color-black;
  outline: none;
  transition: 0.3s background-color, 0.3s color;
  cursor: pointer;
  border-radius: 0.5rem;
  margin-bottom: 2rem;

  &:hover,
  &:focus {
    color: $color-white;
    background-color: $color-black;
  }
}

.postreq-loading {
  width: 100%;
  margin: 50% auto;
  text-align: center;
}
