.footer {
  padding: 8rem 8rem 0 8rem;

  &__top {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5rem;

    &-list {
      &-header {
        font-size: 1.8rem;
        margin-bottom: 2rem;
        font-weight: 700;
      }

      &-items {
        & li {
          font-size: 1.6rem;
          letter-spacing: 0.1rem;
          cursor: pointer;

          &:not(:last-child) {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }

  &__links {
    display: flex;
    align-self: center;

    & li {
      font-size: 1.8rem;

      & a {
        padding: 1rem;
        border: 0.1rem solid transparent;

        &:hover {
          color: #333;
        }
      }
    }
  }

  &__bottom {
    & p {
      font-size: 1.5rem;
    }

    & a {
      text-decoration: underline;
    }
  }
}
