.order {
  box-shadow: 0 0.5rem 1rem rgba($color-black, 0.5);
  flex-basis: 27%;
  padding: 2rem;
  margin-left: auto;
  height: 100%;

  @include respond(tab-land) {
    flex-basis: 30%;
  }

  @include respond(phone) {
    flex-basis: 80%;
    margin: 0 auto 3rem auto;
  }

  & h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem;
  }

  &__container {
    width: 100%;
    margin: 0 auto;
  }

  &__list {
    width: 100%;
    margin: 0 auto;

    &-item {
      font-size: 1.6rem;
      display: flex;
      justify-content: space-between;

      &:last-child {
        padding-bottom: 2rem;
        border-bottom: 0.2rem solid $color-black;
      }

      & span {
        display: inline-block;
        flex-basis: 33%;
        text-align: justify;

        &:nth-child(2) {
          display: flex;
          justify-content: center;
        }

        &:last-child {
          display: flex;
          justify-content: flex-end;
        }

        @include respond(tab-port) {
          text-align: center;
        }
      }
    }
  }

  &__total {
    width: 100%;
    margin: 0 auto;
    font-size: 1.7rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
    border-bottom: 0.2rem solid $color-black;
    display: flex;

    & span {
      display: inline-block;

      &:last-child {
        margin-left: auto;
      }
    }
  }
}
