.product {
  &__container {
    width: 26rem;
    cursor: pointer;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
  }

  &__container-text {
    margin-top: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* text-align: justify; */
    justify-items: center;
    align-items: center;
  }

  &__text {
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }
}
