.product-details {
  padding: 10rem 0;
  background-color: $color-grey;

  &__container {
    display: flex;

    padding: 3rem;
    width: 90%;

    margin: 0 auto;
    justify-content: space-between;

    @include respond(tab-land) {
      width: 95%;
    }

    @include respond(tab-port) {
      width: 97%;
    }

    @include respond(phone) {
      flex-wrap: wrap;
    }

    &--flex-item {
      width: 47%;

      @include respond(tab-land) {
        width: 49%;
      }

      @include respond(phone) {
        width: 90%;
        margin: 0 auto 2rem auto;
      }

      &:nth-child(2) {
        display: flex;
      }
    }
  }

  &__image {
    @include respond(phone) {
      width: 90%;
    }

    @include respond(phone) {
      & img {
        display: inline-block;
        margin: 0 auto;
        width: 100%;
      }
    }
  }

  &__detail {
    text-align: center;
    width: 100%;
    font-size: 2rem;
    align-self: center;

    @include respond(tab-port) {
      text-align: right;
    }

    @include respond(tab-port) {
      text-align: center;
    }

    &-list {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;

      &item {
        font-size: 2.2rem;
        width: 50%;

        @include respond(tab-land) {
          width: 65%;
          font-size: 1.9rem;
        }

        @include respond(tab-port) {
          font-size: 1.9rem;
        }

        @include respond(phone) {
          width: 80%;
          font-size: 1.7rem;
        }

        &:nth-child(3) {
          & button {
            padding: 1rem;
            cursor: pointer;
            background-color: $color-white;
            border: 1px solid $color-black;
            outline: none;
            font-size: 1.6rem;

            @include respond(phone) {
              padding: 0.7rem;
            }

            &:first-child:disabled {
              cursor: not-allowed;
            }

            &:nth-child(2) {
              cursor: auto;
              border: none;
            }

            &:not(:last-child) {
              margin-right: 1rem;

              @include respond(phone) {
                margin-right: 0.5rem;
              }
            }
          }
        }
        &:not(:last-child) {
          padding: 2rem 0;
          border-bottom: 0.05rem solid $color-black;
          margin-bottom: 2rem;
        }
      }
    }
  }

  &__description {
    width: 90%;
    margin: 0 auto;
    padding: 3rem;

    &--header {
      font-size: 2.3rem;
      font-weight: 700;
    }

    &--info {
      width: 50%;
      font-size: 1.6rem;

      @include respond(phone) {
        width: 80%;
      }
    }
  }
}
