.spinner {
  height: 67.8133rem;
  position: relative;

  &__image {
    width: 7rem;
    height: 7rem;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    @include respond(phone) {
      width: 4rem;
      height: 4rem;
    }
  }
}

.spinner2 {
  height: 20rem;
  position: relative;
  display: none;

  &__image {
    width: 6rem;
    height: 6rem;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}

.spinner3 {
  height: 33.183rem;
  position: relative;

  @include respond(phone) {
    width: 16rem;
    height: 16rem;
  }

  &__image {
    width: 7rem;
    height: 7rem;

    @include respond(phone) {
      width: 4rem;
      height: 4rem;
    }
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}
