.shopListContainer {
  padding: 12rem 0;
}

.productList {
  max-width: 114rem;
  margin: 4rem auto 0 auto;
  display: flex;
  justify-content: space-between;
}

.containerClass {
  width: 26rem;
}

.productImage {
  width: 100%;
  height: 100%;
}

.productsListCallToAction {
  text-align: right;
  margin: 8rem 7rem 0 0;
}

.productsListCallToActionBtn {
  display: inline-block;
  font-size: 1.6rem;
  cursor: pointer;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #333;
  transition: 0.2s all ease-in;
}

.productsListCallToActionBtn:hover {
  background-color: #333;
  transform: translateY(-0.2rem);
  color: #fff;
}

.productsListCallToActionBtn:focus {
  transform: translateY(-0.1rem);
}
